table,td,tr,th{
  border: 2px solid black;
  border-collapse: collapse;
}

html{
  background-color: #F2FEFF;
}

header{
  font-family: 'Indie Flower', cursive;
}

nav ul{
  text-align: center;
}
nav ul li{
  text-decoration: underline;
  display: inline-flex;
  position: relative;
  font-size: 18px;
}

h3{
  font-family: 'Indie Flower', cursive;
}

table{
  font-family: 'Chakra Petch', sans-serif;
  background-color: white;
}
