table,td,tr,th{
  border: 2px solid black;
  border-collapse: collapse;
}

html{
  background-color: paleturquoise;
}

header{
  font-family: 'Indie Flower', cursive;
}

h3{
  font-family: 'Indie Flower', cursive;
}

table{
  font-family: 'Chakra Petch', sans-serif;
}
