table,td,tr,th{
  border: 2px solid black;
  border-collapse: collapse;
}
/*TODO: font face Orbitron*/
@font-face {
  font-family: 'Orbitron';
  src: url("css/Fonts/Orbitron/static/Orbitron-Regular.ttf");
}

@font-face {
  font-family: 'Chakra Petch';
  src: url("css/Fonts/Chakra_Petch/ChakraPetch-Medium.ttf");
}

html{
  background-color: #F2FEFF;
}

header{
  font-family: 'Orbitron', serif;
  background-color: #C8F6CC;
  border-radius: 5px;
}

header h1{
  margin-left: 10px;
}
nav ul{
  text-align: center;
}
nav li{
  text-decoration: underline;
  font-size: 18px;
  display: inline;
  margin-left: 40px;
}

h3{
  font-family: 'Orbitron', Serif;
}

table{
  font-family: 'Chakra Petch', sans-serif;
  background-color: white;
  text-align: center;
}

.tb_titles{
  background-color: black;
  color: white;
}
/*TODO: Make text thicker*/
td{
  font-weight: 400;
}
